<!DOCTYPE html>
<html>
<head>
<meta charset = "UTF-8">
<title>  this is the title </title>
</head>
<body> {{> header}}
<p> keep going girl. Chase your dreams and fly a little higher everyday  </p>
  {{> footer}}
</body>
</html>
