<!DOCTYPE html>
<html>
<head>
<meta charset = "UTF-8">
<title>  this is the title </title>
</head>
<body>
  <h1> we will be back soon </h1>
<p> This site is under some maintence. we will get back to you soon  </p>
  {{> footer}}
</body>
</html>
